<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Hello page</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link th:href="@{/hello_page.css}" href="../static/hello_page.css" rel="stylesheet"/>
</head>
<body style="margin: 0">
    <div class="test">
        <div class="for_list">
        <ul class="menu">
            <li><a class="lec" href="two.html">Лекции</a></li>
            <li><a class="lec" href="help.html">Справка</a></li>
        </ul>
        </div>
        <div class="hai">
            Электронное учебное пособие по дициплине <br/> Организация ЭВМ и систем.
        </div>
        <!--<div class="main_link">-->
            <!--<a href="two.html">open project</a>-->
        <!--</div>-->
    </div>
</body>
</html>