<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Help page</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link th:href="@{/info.css}" href="../static/info.css" rel="stylesheet"/>
</head>
<body style="margin: 0">
<div class="test">
    <div class="for_list">
        <ul class="menu">
            <li><a class="lec" href="hello.html">Назад</a></li>
        </ul>
    </div>
    <div class="hai">
        E.S.M. Web edition. Тестовая версия. Автор: SxN13.
    <p> Приложение "электронное учебное пособие". </p>
    </div>
    <!--<div class="main_link">-->
    <!--<a href="two.html">open project</a>-->
    <!--</div>-->
</div>
</body>
</html>