<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Библиотека</title>
    <link th:href="@{/for_lib.css}" href="../static/for_lib.css" rel="stylesheet"/>
</head>
<body>

<div class="test">
    <div class="for_list">
        <ul class="menu">
            <li><a class="lec" href="two.html">Назад</a></li>
            <li><a class="lec" href="https://www.intuit.ru/studies/courses/92/92/info">Ссылка на Интуит. Тема: Организация ЭВМ</a></li>
        </ul>
    </div>
</div>
</body>
</html>