<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>History of IBM</title>
    <link th:href="@{/for_test.css}" href="../static/for_test.css" rel="stylesheet"/>
</head>
<body>
<div id="pre_centr">
    <div class="for_list">
        <ul class="menu">
            <li><a class="lec" href="two.html">Назад</a></li>
        </ul>
    </div>
    <form id="form_dat" action="/test" method="post">
        <p>Фамилия:</p>
        <input type="text" id="l_n" name="l_n"/>
        <p>Имя:</p>
        <input type="text" id="f_n" name="f_n"/>
        <p>Группа:</p>
        <input type="text" id="group" name="gr"/>
</form>
    <div id="centr">
        <p>Выполните задания теста:</p>

        <form id="form" action="/test" method="post">
            <p>1. Три человека, которые заложили основы информационной теории в 17 веке? </p>
            <input type="text" id="z_1" name="q1"/>
            <p>2. Кто изобрёл триггер? </p>
            <input type="text" id="z_2" name="q2"/>
            <p>3. Кто сформулировал основные из традиционных принципов построения ЭВМ?  </p>
            <input type="text" id="z_3" name="q3"/>
            <p>4. Немецкий математик и философ который представил в Парижской академии вычислитель,
            выполняющий все 4 арифметических действия.
            </p>
            <input type="text" id="z_4" name="q4"/>
            <p>5. В каком году Стефен Возняк и Стивен Джобс собирают первый настольный компьютер "Apple"  </p>
            <input type="text" id="z_5" name="q5"/>
            <p>6. Первая программистка которая готовила программы для вычислителя аналитической машины.  </p>
            <input type="text" id="z_6" name="q6"/>
            <p>7. В каком году Морис Уилкс построил компьютер EDSAC в соответствии с принципами фон Неймана?  </p>
            <input type="text" id="z_7" name="q7"/>
            <div><button id = "check" type="submit" onclick="f()">Проверить</button></div>
            <div id="rezultat" th:text="${rez}"></div>
        </form>
    </div>
</div>
<script>
    function f() {
    }
</script>
</body>
</html>